[2018-03-21 21:37] macaodha opened #1 "Pre-processed data"
Hi there,

Your code looks great. I was just wondering what is the main difference between your pre-processed dataset and `h36m.zip` from the original tensorflow repo.

Thanks

[2018-03-22 03:20] weigq commented on #1
actually, it is same as the original repo. It is the normalized data.

best.

[2018-03-22 03:46] macaodha commented on #1
So it's the same as running their data loading and then preprocessing code (e.g. including projection, keypoint exclusion, etc)?

Thanks

[2018-03-22 04:35] weigq commented on #1
yes

[2018-03-23 22:25] macaodha commented on #1
Thanks for all your help. When I load the data with your code it is the following size:
Train size 1559752
Test size  548819

From the original tensorflow the train is the same but the test is bigger:
Test size 550644

Any ideas why it might be different.

[2018-03-24 07:16] weigq commented on #1
sorry, I have fixed this and updated the data.

The videos provided by the Human3.6M contain a damaged video, so the test set is less if using stacked hourglass to predict 2d pose, and I mistakenly missed this one when processing groundtruth data.

I will upload the data processing code.
Thanks!

[2018-03-24 17:53] macaodha commented on #1
Thanks

[2018-03-25 01:58] macaodha opened #2 "Error computation"
Hi there,

Thanks again for sharing your code, its very clear.

I have a quick question about the error computation. You select the valid dimensions [here](https://github.com/weigq/3d_pose_baseline_pytorch/blob/master/main.py#L230) which includes dimensions for the hip (which is not predicted) for. As I understand it, in the squared error [computation](https://github.com/weigq/3d_pose_baseline_pyt

[2018-03-25 05:47] weigq commented on #2
Yeap, it is same as the original code,
the network actually predicts 16 joints not including the hip, which means that the hip joint is aligned to GT hip joint. So, in fact , the number of joints predicted is 17, as same to most 3d pose estimation methods.

[2018-03-25 06:33] macaodha commented on #2
Perfect, thanks for clarifying.

[2018-04-14 11:44] mkocabas opened #3 "Stacked Hourglass Detections"
Hi @weigq,

Thanks for the great implementation. I'm trying to train on SHG detections but the .zip file doesn't contain the `test_2d_ft.pth.tar` file.

Could you provide detection files or processing script for that?

[2018-04-14 12:14] weigq commented on #3
I used the fine-tuned 2d poses from the original [implementation](https://github.com/una-dinosauria/3d-pose-baseline).

I will upload it asap

[2018-04-14 12:37] mkocabas commented on #3
Thanks for quick answer. I look forward to it!

[2018-04-16 05:29] mkocabas commented on #3
Hi @weigq, any update on this? Did you have a chance to upload it?

[2018-06-05 06:41] mkocabas commented on #3
@weigq, any update?

[2018-06-28 15:06] Fangyh09 opened #4 "No such file or directory: 'data/stat_3d.pth.tar'"
Hi, I wanna to know where is the stat_3d.pth.tar? Thanks!

[2018-06-29 00:55] #4 closed

[2018-06-29 00:56] Fangyh09 commented on #4
Use the wrong h36m.zip

[2018-07-16 08:04] salihkaragoz commented on #1
Btw, as a supplementary information;

This action has no video in the Human3.6M dataset,
Subject 11 Action Directions Camera 54138969 (no video)

These below actions has smaller annotations than expected in the global coordinate, not image plane
Subject 9 Action Greeting
Subject 9 Action SittingDown_1
Subject 9 Action Waiting_1
Subject 9 Action Walking

@weigq here is a small question, How did you

[2018-07-16 11:46] weigq commented on #3
@mkocabas
Sorry, I will update by the end of this month.

[2018-07-16 11:46] #2 closed

[2018-07-16 11:47] weigq commented on #1
@salihkaragoz
Great!
Thanks for your supplements.

[2018-07-16 11:49] weigq commented on #1
I will closed this issue, you can reopen it if needed.

[2018-07-16 11:49] #1 closed

[2018-07-16 12:29] mkocabas commented on #3
Thanks @weigq, but I don't need them anymore. I've adapted the original dataloaders to pytorch.

[2018-07-16 12:29] #3 closed

[2018-08-29 16:11] dmortem opened #5 "About the result of the model"
Hi,
Thanks for your codes. I wonder why the results of "original version" are different from the paper and the pytorch version is a little better than the paper?

Thanks a lot!

[2018-09-05 08:46] weigq commented on #5
Maybe, I think, there exists some differences between Tensorflow and PyTorch, since this reimplementation  tried to be as same as the original version as possible.
It is welcomed if you found something different.

[2018-09-06 14:57] dmortem commented on #5
Thank you!

[2018-09-25 05:49] dmortem commented on #5
Hi, @weigq
I wonder how to use camera.py? It seems no usage in the project.
And if I get my own 2d pose coordinates, what I need to do is to zero center them? Do I need to use camera.py to process them? Thank you!

[2018-09-25 05:59] weigq commented on #5
@dmortem
Nope, If you have your own 2d pose, you just need to normalize it using the `mean` and `std` in `stat.pth,tar`.
The `camera.py` is used to project the 3D gt pose to 2d gt pose for generating training data.
Thx!

[2018-09-25 06:04] dmortem commented on #5
@weigq
Thank you for your response. Do I need to calculate the mean and std according to my own pose? Or just use the value in stat.pth.tar?

[2018-09-25 06:08] weigq commented on #5
@dmortem
Yes, the value provided, since it is used in training.

[2018-09-25 06:10] dmortem commented on #5
@weigq
If I use other datasets, do I need to calculate by myself?

And in the paper, I find "Camera coordinates" section which says "it is unrealistic to expect an algorithm to infer the 3d joint positions in an arbitrary coordinate space". So can we just regress the 3d coordinate without any processing on 2d coordinates except zero centering?

[2018-09-25 06:36] weigq commented on #5
If I understand correctly, i) the camera coordinates mean centering the pose ii) the normalization ((x- mean) / std) is a trick to boost the performance of model.
So if you use other dataset, I think,
i) if you want to train in your dataset, you`d best calculate your own mean and std;
ii) if you just want to inference using the pretrained model, you should use the values provided.

There is someth

[2018-09-25 06:49] dmortem commented on #5
Thank you for your explanation. So besides zero center, do I need to center the pose if I use my own 2d coordinate? The paper says "zero center the 3d poses around the hip joint". I wonder whether I need to do both "centering pose" and "normalization" on 3d poses, and only do "normalization" on 2d poses?
Thanks!

[2018-09-25 06:55] weigq commented on #5
Same as the original paper:
normalization for both 2D and 3D poses;
centering only for 3D pose.

[2018-09-25 07:10] dmortem commented on #5
Thanks for your kindness and patience!

[2018-09-25 07:10] #5 closed

[2018-09-25 07:19] dmortem commented on #5
By the way, would you provide the codes for converting the original 3d poses in h36m to the centered ones?

[2018-10-10 23:43] abhikhanna30 opened #6 "KeyError: "filename 'storages' not found""
getting this error while loading data. Am i missing something?

[2018-10-15 07:40] Ssrzbao opened #7 "'ascii' codec can't decode byte 0xe5 in position 0: ordinal not in range(128)"
I have download the pretrianed model gt_ckpt_best.pth.tar. But when I run the command python main.py --load gt_ckpt_best.pth.tar --test, the error 'ascii' codec can't decode byte 0xe5 in position 0: ordinal not in range(128) has occurred.

[2018-10-15 07:42] Ssrzbao commented on #7
What coding format is this trained model?

[2018-10-15 08:53] weigq commented on #6
@abhikhanna30
is there any more info?

[2018-10-15 08:55] weigq commented on #7
@Ssrzbao
Did you use Pyhton2 ?
The data is saved using torch in python2.7, it will cause error when loading using Python3

[2018-10-15 18:42] abhikhanna30 commented on #6
when i was doing torch.load(train_3d.pth.tar) for example on my gpu , i was getting the error:

_Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/abhijeet/anaconda3/lib/python3.6/site-packages/torch/serialization.py", line 358, in load
    return _load(f, map_location, pickle_module)
  File "/home/abhijeet/anaconda3/lib/python3.6/site-packages/torch/serializat

[2018-10-16 04:09] weigq commented on #6
This is due to python version, the codes only tested in pytho2.7, there are some problems in python3

[2018-10-17 08:15] weigq commented on #7
@ahwaleed
You`d best use 2.7,  I have tested on python3, where some errors occur.

[2018-10-18 07:06] ahwaleed commented on #7
Thanks @weigq. Using python 2.7 worked!
However, now I am getting this error
`IOError: [Errno 2] No such file or directory: 'data/stat_3d.pth.tar'`

Where can I get this stat file?

[2018-11-14 14:04] ssfootball04 opened #8 "Bug in Error Calculation"
Hi,
Wanted to point out a bug in your error calculation. The errors for all actions are simply averaged, without regard to the number of data points in each action. It should be a weighted mean. This yields slightly higher numbers.

[2018-11-14 14:16] weigq commented on #8
@ssfootball04
Good point, the weights are usually not taken into account when calculating the errors under protocol #1/2, since the results under these protocols are the average error among actions.

[2018-11-15 18:00] ssfootball04 commented on #8
I don't think that's right, from all the papers I've come across. Can you give a reference ?

[2018-11-16 08:30] weigq commented on #8
I saw you have submitted the same issue on the original repo, so I closed now.

[2018-11-16 08:30] #8 closed

[2018-11-28 12:13] tobiascz commented on #7
[code]

worked for me

[2018-12-11 12:40] Yedis opened #9 "2D ground truth coordinate translate"
thx for your implement!
I want to know how the 2D ground truth is been convert from Pixel coordinate system.
@weigq

[2018-12-23 19:43] KristianDukov opened #10 "Issue when running the test"
Running on Windows 10
Python Python 3.6.7

When trying to run the test with the given model from google drive and the dataset, I get the following error:

[?25lTraceback (most recent call last):
  File "main.py", line 283, in <module>
    main(option)
  File "main.py", line 94, in main
    _, err_test = test(test_loader, model, criterion, stat_3d, procrustes=opt.procrustes)
  File "main.py", line

[2018-12-25 02:15] weigq commented on #10
seems you are using a lastest version of pytorch. You can try replace the `loss.data[0]` with `loss.item()`

[2018-12-25 02:16] weigq commented on #9
yes

[2018-12-25 02:16] #9 closed

[2019-01-27 09:58] NguyenDangBinh commented on #7
dear @tobiascz  ,

import pickle
from functools import partial
...
pickle.load = partial(pickle.load, encoding="latin1")
pickle.Unpickler = partial(pickle.Unpickler, encoding="latin1")
ckpt = torch.load(opt.load, pickle_module=pickle)

where did you add them?

[2019-01-27 23:34] tobiascz commented on #7
the imports at the very start. And the stuff after ... exactly where you load your model ckpt in the original file. the two lines with pickle.load and pickle.Unpickler are basically used in ckpt=torch.load(opt.load, pickle_module=pickle) to change the encoding. Hope this helps

[2019-01-28 11:02] NguyenDangBinh commented on #7
dear @tobiascz ,
I run by GPU.
I replaced it like picture below, but it still the same error.
![error](https://user-images.githubusercontent.com/30711163/51832324-4df75280-232f-11e9-8679-3734fb85d350.png)

[2019-01-28 11:04] NguyenDangBinh commented on #7
I save the folder like that
![error](https://user-images.githubusercontent.com/30711163/51832427-99a9fc00-232f-11e9-8127-2e1885722a08.png)

[2019-01-28 14:23] NguyenDangBinh commented on #7
error like

[2019-01-28 14:33] NguyenDangBinh commented on #7
I think the pickle which is not run.
![error2](https://user-images.githubusercontent.com/30711163/51842818-b6a0f800-234c-11e9-93ba-3de327addeff.jpg)

[2019-01-28 14:44] NguyenDangBinh commented on #7
![error3](https://user-images.githubusercontent.com/30711163/51843570-4004fa00-234e-11e9-9dfc-3546cbadde82.jpg)

[2019-02-01 10:45] NguyenDangBinh commented on #7
dear @tobiascz,
May you help me?

[2019-02-01 11:06] tobiascz commented on #7
@NguyenDangBinh It's hard for me to help you. The problem seems to be a very specific one. I would try to make a new conda environment with python 3.6 and install torch version 1 in there. I noticed that your environment is called 'tensorflow-gpu' and in this project you want to use pytorch. I had some issues when installing both pytorch and tensorflow side by side in one environment or globally.

[2019-02-01 12:07] jjedele commented on #7
@tobiascz , @NguyenDangBinh :

1. It seems PyTorch's `load()` function also handles unpickling arguments directly (https://github.com/pytorch/pytorch/blob/6a6983ed7f14f8335a5b5614928713cb79658281/torch/serialization.py#L301), so you probably do not have to monkey patch the pickle module but just can call `torch.load(opt.load, encoding='latin1')`.
2. If this does not work, maybe try unpickling your

[2019-02-01 12:11] jjedele commented on #7
Also, are you sure it's encoded in 'latin1'? When I google for the error, some answers hint at UTF8 (e.g. https://stackoverflow.com/questions/21393758/unicodedecodeerror-ascii-codec-cant-decode-byte-0xe5-in-position-0-ordinal)

So maybe also give `encoding='utf-8'` a try.

[2019-02-06 00:54] abhikhanna30 opened #11 "Error calculation"
Hi,

In the original tensorflow repo , while creating the 3d GT data , they centre the poses wrt hip joint and while calculating the error undo that. But in your code , you just unnormalize it but dont take into account the hip position.
Is that the correct way?

[2019-03-13 08:31] victoriamazo opened #12 "stat_3d.pth.tar missing"
Hi! When I try to run test I get error:
FileNotFoundError: [Errno 2] No such file or directory: 'data/stat_3d.pth.tar'

[2019-03-13 08:42] #12 closed

[2019-03-13 11:36] liuyangwen opened #13 "number of testing poses"
Hi,
Thanks for your codes. After I running the test code I got the below result, but the number of testing poses seems to be less than the expected(548819). Did I miss any others data when testing?

![image](https://user-images.githubusercontent.com/11901126/54276056-40d4b100-45c7-11e9-837b-1e5e35fca6e5.png)

Thanks for your help!

[2019-03-14 09:21] liuyangwen commented on #13
Hi,
oh, I think I have figured out the reason that there is a test_batchsize. Sorry for bothering.
Thanks!

[2019-03-14 09:21] #13 closed

[2019-03-27 04:42] NguyenDangBinh opened #14 "How?"
dear @weigq,
What is that?
# optional arguments, you can access more details in opt.py
main.py [-h] [--data_dir DATA_DIR] [--exp EXP] [--ckpt CKPT]
           [--load LOAD] [--test] [--resume]
           [--action {all,All}]
           [--max_norm] [--linear_size LINEAR_SIZE]
           [--num_stage NUM_STAGE] [--use_hg] [--lr LR]
           [--lr_decay LR_DECAY] [--lr_gamma LR_GAMMA] [--epochs EP

[2019-03-27 10:56] weigq commented on #14
what ?

[2019-03-27 11:28] NguyenDangBinh commented on #14
dear @weigq,
How to adjust it?

[2019-04-02 07:13] NguyenDangBinh commented on #14
dear @weigq,
how to do that?

[2019-04-10 10:35] NguyenDangBinh commented on #7
yes, it should be python 2.7

[2019-04-10 10:45] NguyenDangBinh commented on #10
dear @weigq,
It conduct well on Ubuntu 18, Anaconda, Python 2.7, Pytorch 1.1 cuda. (replace the loss.data[0] with loss.item())

[2019-04-24 08:50] ZHUXUHAN opened #16 "about preprocessing data?"
how do you do the  data preprocessing, can you explain the process?

[2019-05-14 12:06] vasusingla commented on #3
I can't reproduce results from stacked hourglass predictions for 3D pose baseline. Can anyone provide the results they obtained or the code for the stacked hourglass predictions?

@mkocabas @weigq

[2019-05-26 02:37] zc-alexfan opened #17 "About visualization"
Thanks for the great repo! Your code is very elegant. Just a quick question. I am trying to plot the given 2d and 3d processed skeletons. However, I could not find the connection between joints in your repo. I am wondering if you could either provide the limb connections or the code for visualizing?

Thanks a lot!

[2019-05-26 03:34] weigq commented on #17
You can refer to [here](https://github.com/una-dinosauria/3d-pose-baseline/blob/826df8cb1541afd1bb0b80ad6d6ad55ef8b313de/src/data_utils.py#L20).

[2019-05-26 03:40] zc-alexfan commented on #17
Thanks for the quick reply! I did checkout this repo. But it seems that it has 17 joints while your repo's data is 16 joints?

[2019-05-26 08:52] weigq commented on #17
the pose is aligned with hip joint, so the center hip is (0, 0, 0) as default.

[2019-05-26 20:45] #17 closed, assigned to nobody

[2019-05-27 05:13] kyang-06 opened #18 "coordinate space of GT 2d pose"
Hi,
I notice that the 2d pose ground truth in `*_2d.pth.tar` lies in original image space(1002x1000) after unnormalizing, which is not as expected as cropped image space in 256x256.
Is this the same as the original version?
BTW, I regenerated the hm36 data with cropped 2d pose, and just achieved error of 48mm. I wonder if this difference lead to the performance gap.
THX!

[2019-05-27 06:13] weigq commented on #18
same as the original repo, the 2d pose is obtained from the `1000x1000` image, which means that the unnormalized 2d pose lies in `1000x1000`.

[2019-05-27 06:58] kyang-06 commented on #18
Thanks for quick response!
So that is to say, the author's implementation in tensorflow does not match what they described in the paper? ( 440x440 -> 256x256 in the paper)

[2019-05-27 08:00] weigq commented on #18
I do not know the details how they generate the 2d detections, however, i think, they crop the image when running the staked hourglass. And the final 2d pose they provide is aligned back to `1000x1000` image.

[2019-05-31 06:36] kyang-06 commented on #18
One more question about the corresponding relation between 2d and 3d joints.
Is the 2d input the same as orign repo that includes hip and excludes nose?
If so, it's not an one-to-one regression as orign repo. The hip-based 3d pose has an extra nose joint.

[2019-06-01 00:57] weigq commented on #18
in fact, same as the origin repo, the mapping is not one-to-one (the jaw joint only appears in 3D pose), most 3D pose estimation methods also do as this.

[2019-06-03 07:51] YinRui1991 commented on #7
I meet the same error. My pytorch version is  pytorch-1.0.1 (py3.6_cuda10.0.130_cudnn7.4.2_2) and python version is 3.6.8.
The following is the error:

`>>> loading data
Traceback (most recent call last):
  File "main.py", line 286, in <module>
    main(option)
  File "main.py", line 85, in main
    stat_3d = torch.load(os.path.join(opt.data_dir, 'stat_3d.pth.tar'))
  File "/home/pangziwei/anacond

[2019-06-04 02:37] gqliang opened #19 "A bug in reading the test data"
When the required action is sittingdown, the current file will read both the sitting and sittingdown. This will affect the accuracy of the sequence of sittingdown
So I suggest to add some lines to discriminate these two kinds of actions after the line 61 in the human36m.py.

if self.actions=='SittingDown' and act.endwith('g'):
     continue

[2019-06-04 02:53] weigq commented on #19
Good, i will check that.

[2019-07-01 14:41] benjiebob commented on #3
Thanks so much for uploading your code. Just a quick clarification... are the stacked hourglass detections in the zip file the 'finetuned' versions from here https://drive.google.com/file/d/0BxWzojlLp259S2FuUXJ6aUNxZkE/view

[2019-07-01 14:45] benjiebob commented on #3
Wondering if there might be any update on this issue before I write the code to convert the predictions from https://drive.google.com/file/d/0BxWzojlLp259S2FuUXJ6aUNxZkE/view

[2019-07-01 22:08] Lukikay opened #20 "The pre-trained model on Google Drive looks not available anymore"
Many thanks for making this PyTorch implementation available. The pre-processed Human3.6M dataset and the pre-trained model on Google Drive look not available anymore, can you please re-upload them? Thanks a lot!

[2019-07-02 16:01] mkocabas commented on #3
Dear @vasusingla619, @benjiebob,

I modified the [original tf preprocessing](https://github.com/una-dinosauria/3d-pose-baseline/blob/master/src/predict_3dpose.py#L153) to pytorch instead of depending preprocessed `*.tar`s provided by @weigq. I would share it if you need.

[2019-07-10 13:05] ZHONGCHUYUN opened #21 "How to visualize outputs into images?"
Hi, I am totally new in this field, if this is a stupid question plz forgive me. I was wondering how to visualize the results. Do we need to add some codes on main.py like 'cv2.imshow'? And why the shape of inputs (64, 32) is not the same as the shapes of both targets' and outputs' (64, 48). Thank you in advance.

[2019-07-12 14:34] Shuai-Xie commented on #20
+1

[2019-07-22 07:08] luzzou opened #22 "human36m.zip does not exist"
hi,

the link to download the pre-processed data human36m.zip does not exist, could you please upload it again?

[2019-07-22 10:46] AcKnight commented on #20
+1

[2019-07-22 10:48] AcKnight commented on #22
hi,

I have the same problem with @Lu-Zou ,please upload it again, thx.

[2019-08-18 22:37] anibali commented on #22
@weigq Could you please reupload the dataset or release code for transforming the .h5 files provided by https://github.com/una-dinosauria/3d-pose-baseline into the format used by this repo (including `stat_3d.pth.tar`)? At the moment it is not really possible to use your excellent work as-is since we can't train our own model or get the pretrained model.

[2019-08-23 11:35] wongkwan opened #23 "How to get the train data and test data?"
how to get the data train_2d_ft.pth.tar, test_2d_ft.pth.tar, train_2d.pth.tar,test_2d.pth.tar and train_3d.pth.tar ? Thank you so much If you can help me !

[2019-08-26 01:24] wongkwan commented on #22
I have the same problem, thank you so much If you can provide the data that pre-processed !

[2019-09-07 23:35] monajalal opened #24 "data is missing in the git repo"
Could you please share the data/stat_3d.pth.tar ?

[code]

[2019-09-07 23:40] monajalal commented on #12
@victoriamazo could you please share the link to this dataset?

[2019-09-13 09:16] simone6666 commented on #23
@wongkwan did you solve it?

[2019-09-15 12:10] yashkhem1 opened #25 "Data Missing"
Hi,
I can't find the h36m.zip in the drive link. Could you please upload it again and share the new link?
Thanks

[2019-09-16 23:51] MCLYang commented on #24
Same issue

[2019-09-17 00:02] MCLYang commented on #25
https://github.com/facebookresearch/VideoPose3D/blob/master/DATASETS.md

[2019-09-17 00:03] MCLYang commented on #22
I just found the human3.6M but not sure where is the stat_3d.pth.tar
https://github.com/facebookresearch/VideoPose3D/blob/master/DATASETS.md

[2019-09-17 01:03] kevinlemon commented on #25
@malcolmyanguci This dataset is not in the right form. Your link provides  '.h5' files while the code needs '.pth.tar' files

[2019-09-17 02:55] kevinlemon opened #26 "Dataset missing"
Data is missing.  Cannot reproduce the results.

[2019-09-18 01:12] qinchn commented on #24
+1

[2019-09-22 12:49] zhangyahu1 commented on #3
Dear @mkocabas,

Could you please share your modified version? Thanks!

[2019-09-22 21:37] yashkhem1 commented on #12
@victoriamazo Yeah, please share the link to this dataset, that would be great

[2019-09-24 06:19] ericzw commented on #25
hi, have you obtained the human3.6 dataset?

[2019-09-24 20:58] yashkhem1 commented on #25
Hi, so I seem to have resolved this issue. All I needed to do was to run the data-processing code for the TensorFlow repository and then save the resultant poses in .pth.tar files. For the 3d posed, the data_mean, data_std and dimenions_to_use that are returned by the function are to be stored in stat_3d.pth.tar
The link to the above files is https://drive.google.com/drive/folders/1h4S3vmtjso_rxP6

[2019-09-24 20:58] #25 closed, assigned to nobody

[2019-09-26 08:03] kevinlemon commented on #25
@yashkhem1
I am sorry to bother you. There are numerous functions in data-processing code (https://github.com/una-dinosauria/3d-pose-baseline/blob/master/src/data_utils.py). Could you tell me the relationship between functions and stored files?
Thanks

[2019-09-26 18:06] yashkhem1 commented on #25
@kevinlemon
I used these 3 functions for processing the data:-
1) read_3d_data :- train_set and test_set are saved as train_3d.pth.tar and test_3d.pth.tar respectively. data_mean, data_std, dim_to_use are stored in a dictionary named stat_3d with key values being mean, std and dim_use respectively. This dictionary is saved as stat_3d.pth.tar.
2) create_2d_data:- train_set and test_set are saved as

[2019-09-27 00:04] kevinlemon commented on #25
@yashkhem1
Great! Thanks a lot

[2019-11-07 13:14] GalDude33 commented on #20
+1

[2019-11-11 22:35] bryanbocao commented on #24
+1

[2019-11-12 14:16] nicospbr commented on #20
+1

[2019-11-30 07:09] zxp6329 commented on #24
+1

[2019-12-03 15:10] ZzhengP commented on #20
you can find the pre-trained model in checkpoint repository.

[2019-12-08 07:10] flyyyyer commented on #21
Could you provide the code of visualize the outputs?

[2019-12-31 14:51] HarryVancao commented on #20
+1

[2020-02-13 04:58] hundanLi commented on #20
+1

[2020-03-23 14:55] agosztolai commented on #22
Run this code to obtain the required input files stat_3d.pth.tar etc for the code. You'll need to have downloaded the h36m dataset first.

[code]

[2020-04-14 03:53] mozpp commented on #25
how to  save a dict to pth.tar?

[2020-04-29 17:44] raincrash commented on #22
@agosztolai Where is the module named 'cameras' in the file you mentioned?

[2020-05-12 09:52] wuhailang911 commented on #18
@weigq I am wondering that if the inputed 2d pose can be arbitrarily size, which is related with the image size. should I resize the 2d joints into a regular size before I run the inference?

[2020-05-26 04:47] ShuangjunLiu commented on #24
+1

[2020-06-30 13:18] alvarogonjim commented on #26
@kevinlemon I uploaded the data in [Google Drive](https://drive.google.com/drive/folders/1kwBW5fxZqbUvv5UtkDy0NfWmWusT1Yg0?usp=sharing
)

[2020-06-30 13:19] alvarogonjim commented on #24
@monajalal  I uploaded al the data included the stats_3d in [Google Drive](https://drive.google.com/drive/folders/1kwBW5fxZqbUvv5UtkDy0NfWmWusT1Yg0?usp=sharing
)

[2020-06-30 13:19] alvarogonjim commented on #23
@wongkwan  I uploaded the data in [Google Drive](https://drive.google.com/drive/folders/1kwBW5fxZqbUvv5UtkDy0NfWmWusT1Yg0?usp=sharing
)

[2020-06-30 13:30] alvarogonjim commented on #21
@ZHONGCHUYUN You need to define the skeleton, which joint correspond to which bone, you can see in the original work this information. The output is normalized so you need to unnormalized first in order to visualize the skeleton, you can either create your own code with matplotlib or use the original work for that. To answer your second question:

 - The shape of the input (64, 32) is the 2D groun

[2020-07-02 20:46] danielajisafe commented on #20
Is it possible to get the pre-trained model @weigq It has been difficult working with your baseline without the pre-trained model, the other option is training from scratch, which is more unlikely in my case.

I would be happy if you can be of help to us on this issue.

[2020-07-02 21:30] danielajisafe commented on #23
Thank you @alvarogonjim

[2020-07-03 19:25] danielajisafe commented on #7
@Ssrzbao Can you please share the pre-trained model you downloaded? (gt_ckpt_best.pth.tar). The current url to the drive is broken.

[2020-08-14 14:18] uxduck opened #27 "ModuleNotFoundError: No module named 'progress'"
If you get this problem, its because the author is using git submodules.

You can `pip install progress` or `git submodule init && git submodule update`

[2020-08-14 14:18] #27 closed, assigned to nobody

[2020-09-06 02:23] YYYYb-Shen opened #28 "Why is 16 joints?"
I have checked the code in https://github.com/una-dinosauria/3d-pose-baseline that Martinez used 17 joints. Why the input in your model is only 16 joints?

[2020-09-08 02:12] weigq commented on #28
https://github.com/una-dinosauria/3d-pose-baseline/blob/master/src/linear_model.py#L60

[2020-09-17 11:26] gravitychen opened #29 "pretrained model is missing"
like topic saying

[2020-10-14 12:56] gaoyh18 opened #30 "Questions on visualizing and data pre-processing."
Hi!
I'm confused when visualizing the poses.
For example, I get a numpy.ndarray from  `test_2d.pth.tar`, which has the shape `(32,)` and represent a 2d pose.
I guess it arrays as `x1,y1,x2,y2, ...`, so I add `0,0` at the front of pose, and try to connect them following the sequence of [the original version](https://github.com/una-dinosauria/3d-pose-baseline/blob/666080d86a96666d499300719053cc8af7e

[2020-10-21 02:10] #28 closed, assigned to nobody

[2020-10-25 22:11] alecda573 commented on #26
@alvarogonjim can you please explain what each file you uploaded contains?

[2020-10-26 06:17] alvarogonjim commented on #26
@alecda573  In Human3.6M there are **5 subjects for training and 2 for validation**. Furthermore in the
[A simple yet effective baseline for 3d human pose estimation](https://openaccess.thecvf.com/content_ICCV_2017/papers/Martinez_A_Simple_yet_ICCV_2017_paper.pdf)
 they used **Stacked Hourglass detection** to train the network and **they apply standard normalization** to the 2D inputs and 3D outpu

[2020-10-26 06:43] alvarogonjim commented on #30
Hi @gaoyh18
Firstly, the data from all the files have been previously normalized by subtracting the mean and dividing by the standard deviation. If you want to visualize the skeleton first, you have to unnormalize the data you can do it with https://github.com/weigq/3d_pose_baseline_pytorch/blob/a03094bb479770abc43dc5b87ad394b85bb6dcab/src/data_process.py#L8

Secondly, I did not understand the pro

[2020-10-26 14:27] alecda573 commented on #26
@alvarogonjim Thanks for the quick response and explanation! Unfortunately, I get errors when trying to unzip all the files after downloading from the drive, the archive is either in a unknown format or damaged and no archives found. You have any idea about this?

[2020-10-26 15:10] alecda573 commented on #25
@yashkhem1 @MCLYang how exactly are we suppose to get the data out of the .pth.tar files. Whenever I try to extract the files I get corrupted/damaged error and no archive found... any help would be appreciated!

[2020-10-26 16:25] alecda573 commented on #29
@gravitychen  any luck getting the pretrained model?

[2020-10-26 16:48] alvarogonjim commented on #26
@alecda573 I can download the file from drive without any problems. If your question is related to #25 _how exactly to get the data out of the `.pth.tar` files_ is just using the `torch.load` function. The dataset class contains the functions to read those files:

https://github.com/weigq/3d_pose_baseline_pytorch/blob/a03094bb479770abc43dc5b87ad394b85bb6dcab/src/datasets/human36m.py#L42

[2020-10-26 20:35] alecda573 commented on #26
@alvarogonjim ahhh thanks sorry I was being silly! As just one other question, do you have a the euler angle or axis angle for the 2 million articulate poses in the dataset you supplied here?

[2020-10-27 15:31] alecda573 commented on #26
@alvarogonjim one other question I noticed that the number of samples in the test_2d stacked hourglass has more samples than the test_3d, was there just a few othe samples added?

[2020-10-27 15:50] alvarogonjim commented on #26
@alecda573
1. No I do not have Euler angles of this dataset.
2. Does make sense right? A single pose in the dataset that you are reading in 2D will be 16 joints x 2 = 32 data points in 3D will be 16 joints x 3 = 48.

[2020-10-27 16:00] alecda573 commented on #26
@alvarogonjim yes this makes since, what I mean in the second post is that test_3d has 550644 samples while test_2dft has 548819 and I am wondering why the discrepancy?

Are you aware of anyway to get access to the euler angles the correspond to the dataset you have provided?

[2020-10-28 02:14] weigq commented on #26
@alecda573
- Why the number of 3D samples is different with that of  2D samples? It is because one single video (I am not sure it is one or more, you can check the original dataset) in original dataset has corrupted 3D pose annotations.
- Can you explain more about the euler angles you need? I did not get what you mean.

[2020-10-28 13:52] alecda573 commented on #26
@weigq
1) that makes since, I was just trying to figure out how to make the stacked hourglass detection number correspond with the test_2d number of samples. Like do I just need to remove the extra 2k samples from test_3d to agree with the stacked hour glass test_2d?
2) I was hoping to get my hands on the Euler angles for the full H3.6M dataset, along with the 2d joint coordinates in image coordin

[2020-10-28 19:59] alecda573 commented on #26
@alvarogonjim One last thing, are you able to share the GT 2d normalization stats?

[2020-10-28 23:47] alecda573 commented on #5
@dmortem would you be able to share the stat.pth.tar file please

[2020-10-29 03:25] weigq commented on #26
@alecda573
- Yes.
- If I understand correctly, you can calculate the Euler angles representation from GT 3D pose.

[2020-10-29 12:32] alecda573 commented on #26
@weigq not I’m exactly... you can apply inverse kinematic but the solution is non unique....

[2020-11-06 16:10] pandaaditya opened #31 "The dataset h36m.zip is missing"
The dataset referred to in the code as h63m.zip seems to be missing. Can anyone provide the link to the preprocessed datase?

[2020-11-06 17:25] #31 closed, assigned to nobody

[2020-11-12 01:28] rbteyedeng commented on #26
@alvarogonjim In your post above you said "stat_3d.pth.tar: Contains the main/std of the 2D inputs and 3D outputs to unnormalize the data and calculate MPJPE." I loaded this file and found it has 6 fileds: "mean, std, dim_use, dim_ignore, train_root, test_root". The mean and std are arrays with length 96 (32x3) which means they are for 3D outputs. My question is:  Where are the means and stds for

[2020-11-13 05:47] pandaaditya opened #32 "Implemenation different for original paper?"
I couldnt find the skip connection as reported in the original author's publication.
 can anyone help in this regard?

[2020-11-13 06:19] #32 closed, assigned to nobody

[2020-11-23 07:57] ghost opened #33 "Problem on Visualizing"
I follow with https://github.com/weigq/3d_pose_baseline_pytorch/blob/a03094bb479770abc43dc5b87ad394b85bb6dcab/main.py#L226 to unnorm the output of network, and get tensor which has  (51, ) shape.  I guess it should be the coordinates like x0,y0,z0,x1,y1,z1.......x16,y16,z16
but when I draw all 17 point in 3d plot, it don't like a human skeleton shape,

I want to know how to visualize the output fr

[2020-11-23 10:02] weigq commented on #33
Did you visualize the pose after unnormalization?

[2020-11-23 10:07] ghost commented on #33
No, I want to visualize the 3d pose by the (51, ) shape tensor that I got, but it seems not work.

[2020-11-23 10:17] weigq commented on #33
The normalized pose is normalized for each joint separately (i.e., each type of joint has a mean and std), therefore the normalized pose dose not look like a person. If you want to visualize the pose, you need to unnormalize it first.

[2020-11-23 10:24] ghost commented on #33
Yes, I have done the unnormalize work first, follow with https://github.com/weigq/3d_pose_baseline_pytorch/blob/a03094bb479770abc43dc5b87ad394b85bb6dcab/main.py#L226
and get the parameter which named outputs_unnorm and outputs_use in your code, I think it should be the unnormalized result, and how can I handle this parameter to get the visualizing pose?

[2020-11-23 10:28] weigq commented on #33
You can refer to https://github.com/una-dinosauria/3d-pose-baseline/blob/666080d86a96666d499300719053cc8af7ef51c8/src/data_utils.py#L17 for the orders of joints

[2020-11-23 10:45] ghost commented on #33
This is where I have problem, does your order same as his?
For example, for (51, ) shape tensor, first three nums represent the coordinates of Hip, the 4,5,6-th nums represent the coordinates of RHip, the last three nums represent the coordinates of RWrist?
Because I have try in this order but got strange result.

I notice that you are from Beijing, can I add your Wechat to talk about it In detail

[2020-11-24 01:51] weigq commented on #33
You can send your wechat to my email

[2020-11-24 05:14] ghost commented on #33
Hi, I have send my WeChat to your @gmail email, please take a look, hope for communicating with you

[2020-12-01 21:07] ronaldbm93 opened #34 "Human36m link is not available"
Could you please upload the human36m dataset again?

[2020-12-26 15:13] Aliiiu commented on #34
i am also having the same issue

[2020-12-28 01:32] weigq commented on #34
Please refer to https://github.com/weigq/3d_pose_baseline_pytorch/issues/26

[2020-12-28 15:44] Aliiiu commented on #29
same here i can't get the pretrained model

[2020-12-28 16:02] DuncanZauss commented on #22
Hi @agosztolai and @raincrash ,
I created the .pth files with a slightly changed version of the code from @agosztolai .
1. Clone this repo.
2. Download the needed files from the human3.6m dataset as explained in https://github.com/una-dinosauria/3d-pose-baseline#first-of-all and save them in the data folder of this repo, also perform the subsequent renaming of the files and folders to have consist

[2020-12-29 01:36] weigq commented on #29
please refer to https://github.com/weigq/3d_pose_baseline_pytorch/issues/26

[2020-12-29 20:36] Aliiiu commented on #29
what I found is that the pre-trained model is in the src folder under dataset... is that what you want me to find out?

[2021-01-25 07:28] alexivaner commented on #34
Hi, I already found the datasets, in case you still need it. Put all of these files in /data. Click [here](https://drive.google.com/drive/folders/1h4S3vmtjso_rxP6_Lfg6a1ue7pJMuGp9 ) to download. @ronaldbm93 @Aliiiu . Thanks to #25

[2021-01-25 07:49] Aliiiu commented on #34
thanks for the help

[2021-01-25 08:21] alexivaner commented on #5
Hi, in case you still need stat.pth.tar file. It is here https://drive.google.com/drive/folders/1h4S3vmtjso_rxP6_Lfg6a1ue7pJMuGp9. Hope it helps.

[2021-01-26 02:32] alexivaner opened #35 "Unnormalize and Normalize 2D Skeleton"
Hi, since the dataset provided here is normalized version, could anyone give me idea how to unnormalize 2D Skeleton? I already see this function and successfully unnormalize the 3D Skeleton, but how we use this code to unnormalize 2D Skeleton? I will really glad if someone could help. Also is there a function to do normalize? Thank you.

`def unNormalizeData(normalized_data, data_mean, data_std, d

[2021-01-26 02:58] alexivaner commented on #33
Hi, how you visualize the join? I already have (51,) unnormalized 3d skeleton, how I could visualize it? Thank you.
Because I always get this error:

`AssertionError: channels should have 96 entries, it has 51 instead
`
![image](https://user-images.githubusercontent.com/57290644/105796814-a0c17e80-5fca-11eb-9303-b90d8c8b3bae.png)

I am sorry if this is a silly question, how we could get 96 entries

[2021-02-16 06:25] bsridatta commented on #26
Hello, thanks for sharing, cant access the drive link, is it moved to different URL? Could you also clarify if there should be stat_2d.pth.tar? Thanks!

[2021-02-16 07:28] bsridatta commented on #35
Just multiply std and add mean. And you don't have those numbers. If you have access to original data and tuned model, you can easily get all these. I guess its time to move to new dataset like CMU Panoptic as there is no response to request for H3.6M data

[2021-04-05 18:00] DuncanZauss opened #36 "Hourglass detection files"
Hello,

The SH detections do not seem to be available anymore. Also in the main repo (https://github.com/una-dinosauria/3d-pose-baseline) there is no code available for hourglass detections. Does anyone happen to have the detection files, i.e. 'train_2d_ft.pth.tar' and 'test_2d_ft.pth.tar'? Or the code for the stacked hourglass model that was used to produce the results?

At the moment I am only a

[2021-04-09 03:24] Charlulote commented on #36
detection files with SHM [here](https://drive.google.com/drive/folders/1h4S3vmtjso_rxP6_Lfg6a1ue7pJMuGp9), which has been in #25

[2021-04-09 04:58] DuncanZauss commented on #36
Nice! Thank you very much!

[2021-04-09 04:58] #36 closed, assigned to nobody

[2021-04-09 17:24] jouterleys commented on #26
Hello @alvarogonjim I believe the link to the pre-processed Human3.6M dataset in 3d joints is broken

Old link: https://drive.google.com/file/d/1IbVK2fXcr77JyI_ntyRV6OvoLwoMSq3a/view?usp=sharing

Would it be possible to get this preprocessed data?

[2021-04-12 13:08] huidemie opened #37 "why 3d pose is similar"
hello, I visualize the 3d skeleton and it looks like a human. But why the results of different datasets looks very similar ?

[2021-04-13 03:51] weigq commented on #37
Can you provide more details?

[2021-04-13 05:57] alvarogonjim commented on #26
I had to remove from Google Drive. The LICENSE forbids the redistribution.
You have to download the dataset from the original source.

On Fri, 9 Apr 2021, 19:25 Jereme Outerleys, ***@***.***>
wrote:

[2021-04-14 13:39] huidemie commented on #37
For example, when I visualize one of the 3d results in "sitting down" dataset,  it looks like the following picture. I don't think it is "sitting down" action. Besides, 3d result in different datasets looks like the following picture all the same.
![1618406692(1)](https://user-images.githubusercontent.com/53325307/114719674-e855dc00-9d69-11eb-8b4f-c7267199c8bb.png)

[2021-04-15 04:16] guoyuhang1996 commented on #36
@Charlulote  Hello! Have you run train_2d_ft.pth.tar and test_2d_ft.pth.tar on other models and I've run it on other models, whose performance is very poor. So I want to know if the train_2d_ft.pth.tar contains the same kind of joints and the same order of joints as it did on train_2d.pth.tar and train_3d.pth.tar ? Thanks!

[2021-04-15 04:19] guoyuhang1996 opened #38 "Joints Order"
@weigq  Hello! I've run train_2d_ft.pth.tar and test_2d_ft.pth.tar on other models, whose performance is very poor. So I want to know if the train_2d_ft.pth.tar contains the same kind of joints and the same order of joints as it did on train_2d.pth.tar and train_3d.pth.tar ? Thanks!

[2021-04-15 04:32] Charlulote commented on #36
@guoyuhang1996 there are similar issues to yours, where he explains his mistaking in processing the predicted results of hourglass model.  you can check

[2021-04-15 05:38] guoyuhang1996 commented on #36
Thank you so much for your reply. But can you tell me where did he explain his mistake?

[2021-04-15 05:39] guoyuhang1996 commented on #36
Thank you so much for your reply. But can you tell me where did he explain his mistake? @Charlulote

[2021-04-18 13:35] weigq commented on #37
You used the H36m dataset or other dataset to visualize?

[2021-04-19 02:26] huidemie commented on #37
I use H36M

[2021-04-19 02:40] weigq commented on #37
I am not sure which samples you used. Let me guess if you only use the first several frames in each video (like, you only use the first frame of each action)? In h36m, the poses in the first several frames are every similar, where the actor is standing like you ploted.

[2021-04-19 03:28] huidemie commented on #37
You are right ! Thanks a lot !

[2021-04-19 04:48] #37 closed, assigned to nobody

[2021-04-19 04:49] weigq commented on #38
Yes

[2021-04-23 12:25] GrigorySamokhin opened #39 "Update google drive links"
Hello! Can you please update Google Drive links?

[2021-04-26 13:11] guisoares9 commented on #39
Waiting for this too

[2021-06-06 01:26] dvdblk commented on #39
Same

[2021-06-10 05:11] wizardlancet commented on #39
same

[2021-06-10 09:18] weigq commented on #39
The original data in my google driver has lost.
I am reconstructing this repo and the pre-processed data. I will update asap😀.

[2021-06-10 09:30] #38 closed, assigned to nobody

[2021-06-10 09:35] #14 closed

[2021-06-10 09:37] #33 closed, assigned to nobody

[2021-06-10 09:43] #35 closed, assigned to nobody

[2021-06-25 02:55] lee-man commented on #18
@ky66111 @weigq
Could you share the idea of unnormalizing the 2d inputs? I cannot find the mean and std of 2d poses in the given files. Thanks!

[2021-06-25 03:15] lee-man commented on #35
@alexivaner
I am facing the same problem, and I have no access to the original data. Could you share the 2d statistics? Thanks!

[2021-06-25 03:24] alexivaner commented on #35
@lee-man Hi, due to dataset license issue, I could not share directly. I already get Human3.6M dataset license, if you already get it too, I could share it with you.

[2021-06-25 03:29] lee-man commented on #35
@alexivaner Thanks for your quick reply. I just asked my supervisor and he said that our team has the license to the dataset. It would be great if you can share the stat with me. Thanks!

[2021-06-25 08:32] alexivaner commented on #35
Hi, can you give me your email? if it is an education institution email, it will be better.

[2021-06-25 08:35] lee-man commented on #35
Sure. My email is mli@cse.cuhk.edu.hk
Thanks a lot!

[2021-07-29 13:50] andresherrera97 commented on #18
@lee-man Were you able to unnormalize the 2d data?  I'm having the same issue as you.

[2021-08-19 12:24] mzy12345678 commented on #26
Thank you for your data set, which is very helpful to me. Do you have any questions_ 2d.pth.tar and test_ The image data corresponding to 3d.pth.tar, because I want to jointly test 2D and 3D, thank you very much

[2021-08-19 12:25] mzy12345678 commented on #26
@alvarogonjim
Thank you for your data set, which is very helpful to me. Do you have any questions_ 2d.pth.tar and test_ The image data corresponding to 3d.pth.tar, because I want to jointly test 2D and 3D, thank you very much

[2021-08-23 08:12] alvarogonjim commented on #26
@mzy12345678 I don't quite understand your question. If you mean do I have access to the dataset no, I had to remove from Google Drive. The LICENSE forbids the redistribution.

[2021-08-24 06:40] ggfresh commented on #26
@alvarogonjim
Hi, thanks for sharing your data set, the data is processed and the coordinates are normalized, could you tell me what process is done on the original 2d data, like (data-mean)/std? and whether the 2d data is finetuned on hm3.6?

[2021-09-16 07:31] lee-man commented on #18
@andresherrera97 Sorry that I missed your reply. I can send you the statistics of 2d for unnormalization if you still need it.

[2021-10-11 15:17] NouFuS commented on #39
No luck so far?

[2021-10-21 13:42] xerifg opened #40 "l can not find Bar in src,from src import Bar.anyone knows????"

[2021-10-27 15:29] nicolasugrinovic commented on #39
Hi @weigq thanks for this great work of implementing the code in python. Can you upload the pre-trained model?
Thanks in advanced

[2021-11-02 06:38] daixiangzi opened #41 "where is cameras.h5?"

[2021-11-12 07:04] #41 closed, assigned to nobody

[2021-11-12 07:05] daixiangzi commented on #21
https://github.com/daixiangzi/3d_pose_baseline_pytorch

[2021-12-10 02:16] wintertee commented on #40
https://github.com/weigq/3d_pose_baseline_pytorch/blob/a03094bb479770abc43dc5b87ad394b85bb6dcab/src/__init__.py#L8

[2021-12-22 09:04] oxygenman opened #42 "can you provide the pretrained model?"

[2022-04-18 12:36] youpJiang commented on #40
Did u fix it ?

[2022-04-18 12:37] youpJiang commented on #40
Did u fix it ?